@media only screen and (max-width: 575px) {
    body {
        font-size: 1rem!important;
    }
    #track_number {
        font-size: 1rem!important;
    }
}

#trackage_title, #tracking_form, .input {
    margin: auto;
}

#tracking_entry {
    margin: 0 10% 0 10%;
}

#trackage_title {
    text-align: center;
}

.track_array.dragging {
    opacity: 50%;
}

#setTitle {
    outline: 0;
    border-width: 0 0 2px;
    border-color: blue;
}

#setTitle:focus {
    border-color: green;
}

body {
    background: #f9f9f9 !important;
    font-family: "Space Mono", serif !important;
}

.track_array {
    padding-top: 50px;
}

.btn {
    margin-right: 5px;
}

#trackage_title {
    margin: 50px 0 20px 0;
}

#clear_button {
    margin-top: 20px;
}

.caret-off::before {
    display: none;
}
.caret-off::after {
    display: none;
}

.card_title_textbox_hidden {
    background-color:transparent;
    border: 0px none;
    outline: none;
    font-size: 2rem;
    width: 100%;
}

#card_title_textbox_visible {

}